<!-- Signature -->
<p>
    <b>Type:
        <code>
            <!-- Type -->
            <%= declaration.type %>
        </code>
    </b>
</p>

<!-- Docs -->
<%- include('docs', {docs: declaration.docs, md}) %>
