<!-- Signature -->
<p>
    <b>
        <code>
            <!-- Declaration Kind: const, let, or var -->
            <%= declaration.declarationKind %>

            :

            <!-- Variable type or any -->
            <%= declaration.declarations[0]?.type ?? 'any' %>
        </code>
    </b>
</p>

<!-- Docs -->
<%- include('docs', {docs: declaration.docs, md}) %>
